# Komodo on :80, homebase.fritz.box, and komodo.home.arpa
# One site block can serve multiple addresses/hostnames
:80, http://homebase.fritz.box, http://komodo.home.arpa {
    # Direct reverse proxy to the Komodo container (Docker network DNS name)
    reverse_proxy komodo:9120
}

# nginx-ping
http://testweb.home.arpa {
    reverse_proxy testweb:80
}

# Homepage
http://homepage.home.arpa {
    reverse_proxy homepage:3000
}

# AdGuard Home
http://adguard.home.arpa {
    reverse_proxy  192.168.178.249:8095
}