# Komodo on :80, homebase.fritz.box, and komodo.home.arpa
# One site block can serve multiple addresses/hostnames
:80, http://homebase.fritz.box, http://komodo.home.arpa {
    # Direct reverse proxy to the Komodo container (Docker network DNS name)
    reverse_proxy komodo:9120
}
